/* https://phosphoricons.com/ */

div#timmehh { 
  margin: auto; 
  width: 60%;
  max-width: 470px;
  justify-content: center;
}

#timmehh > header { 
  color: rgba(var(--accent-bg));
  height: 20px; 
   background: var(--gradient1); 
   border-radius: 10px 10px 0px 0px; 
   padding: 25px; 
   text-align: right;
   font-size: 24px;
}
#timmehh > header > img { 
  max-height: 80px; 
  border-radius: 5px; 
}

#timmehh > p { 
  padding: 0px 15px;   
  text-align: justify;
  text-justify: inter-word;
} 

#timmehh > p:first-of-type {
  padding: 15px 15px 0px 15px;
}

#timmehh > p:last-of-type {
  padding: 0px 15px 15px 15px;
}

#timmehh > p:first-of-type::first-line { 
  font-variant-caps: all-small-caps;
  font-size: 14px;
}

#timmehh > p > b { color: rgba(var(--accent-bg)); }
#timmehh > p > i {color: rgba(var(--transition-bg));}

#timmehh > footer { 
  background: var(--gradient2); 
  padding: 15px; 
  border-radius: 0px 0px 10px 10px;
}


/* https://resource.jcink.com/index.php?showtopic=2571 */
.padmainbg {width:430px; height:500px; background-image:url(http://i44.tinypic.com/qpig5l.jpg); text-align:left; padding-left:50px; padding-top:50px; padding-bottom:20px;}

.padcaption{width:400px; height: 530px; font-family: Dynalight; font-size:20px; line-height:21px; text-align:left; padding: 5px; }

.padtape {width: 115px; height: 33px; background-image:url(http://i59.tinypic.com/2h7ovh2.jpg); position:absolute; margin-top: 25px; margin-left: 230px; -moz-transform: rotate(5deg); -webkit-transform: rotate(5deg); opacity: 0.8}

.padpic { width: 200px; height:150px; float:right; padding:5px; background-image:url(http://placehold.it/200x150); border: #ddd solid 3px; position:relative; margin-top: 40px; margin-right: 45px; -moz-transform: rotate(5deg); -webkit-transform: rotate(5deg);  }

.padcredit { -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg);  position: relative; left: 220px; top: 100px; }
