/* https://phosphoricons.com/ */

div#timmehh { 
  margin: auto; 
  width: 60%;
  max-width: 470px;
  justify-content: center;
}

#timmehh > header { 
  color: rgba(var(--accent-bg));
  height: 20px; 
   background: var(--gradient1); 
   border-radius: 10px 10px 0px 0px; 
   padding: 25px; 
   text-align: right;
   font-size: 24px;
}
#timmehh > header > img { 
  max-height: 80px; 
  border-radius: 5px; 
}

#timmehh > p { 
  padding: 15px;   
  text-align: justify;
  text-justify: inter-word;
} 

#timmehh > p:first-of-type::first-line { 
  font-variant-caps: all-small-caps;
  font-size: 14px;
}

#timmehh > p > b { color: rgba(var(--accent-bg)); }
#timmehh > p > i {color: rgba(var(--transition-bg));}

#timmehh > footer { 
  background: var(--gradient2); 
  padding: 15px; 
  border-radius: 0px 0px 10px 10px;
}
